go 1.20

use (
	.
	./awshelper
	./config
	./database
	./extract
	./query
	./queue/consume
	./queue/insert
	./quicknode/account
	./quicknode/authorizer
	./quicknode/healthcheck
	./quicknode/provision
	./scanner/
)
