go 1.22.3

use (
	.
	./awshelper
	./config
	./database
	./dbadmin
	./direct_customers/authorizer/lambda
	./direct_customers/dashboard
	./direct_customers/endpoint
	./direct_customers/post_confirmation
	./extract
	./query
	./queue/consume
	./queue/insert
	./quicknode/account
	./quicknode/authorizer
	./quicknode/healthcheck
	./quicknode/provision
	./scanner/
	./test/dbtest
	./test/integration
	./test/simulate_session
	./tools/db_tunnel
	./tools/mktestuser
	./tools/pageid
	./tools/snapshot
	./tools/stack_policy
)
