go 1.22.0

use (
	.
	./awshelper
	./config
	./database
	./dbadmin
	./extract
	./query
	./queue/consume
	./queue/insert
	./quicknode/account
	./quicknode/authorizer
	./quicknode/healthcheck
	./quicknode/provision
	./scanner/
	./test/dbtest
	./test/integration
	./test/simulate_session
	./tools/pageid
)
