KY_SQS_QUEUENAME=

# Region is constant
AWS_DEFAULT_REGION=us-east-1

# The following two values can be find in the Stack output
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

TB_CHAINS_MAINNET_RPCPROVIDER=
