KY_SQS_QUEUENAME=

# Region is constant
AWS_DEFAULT_REGION=us-east-1

# The following two values can be find in the Stack output
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# These two should be left intact
TB_SETTINGS_CACHEPATH=/cache
TB_SETTINGS_INDEXPATH=/unchained

TB_CHAINS_MAINNET_RPCPROVIDER=http://erigon.dappnode:8545
